.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: grey;
  display: flex;
  z-index: 999;
  justify-content: space-around;
  align-items: center;
 
  .collapse {
    

    .nav {

      .navItem {

        .navLink {
          font-size: 15px
        }
      }
    }
  }
  
}