.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
  
      li {
        display: inline-block;
        margin-right: 10px;
  
        &:last-child {
          margin-right: 0;
        }
  
        a {
          color: #fff;
  
          &:hover,
          &:focus {
            color: #ccc;
          }
        }
      }
    }
  }
  