.portfolio {
    width: 100%;
    padding: 0 30px;
    margin-top: 60px;


    .row {

        
        .portfolio_section_description {

            h1 {
                text-align: center;
                font-size: 5rem;
            }
            
            p {
                text-align: center;
                font-size: 2rem;
            }
        }

    }

    .projects {
        


        .signle_project {
            

        }

    }
}